<%- include("./partials/header") %>

<div class="container mt-4">
  <div class="row">
    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Email</h5>
          <p class="card-text">example@example.com</p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Phone</h5>
          <p class="card-text">123-456-7890</p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Address</h5>
          <p class="card-text">123 Main Street, City, Country</p>
        </div>
      </div>
    </div>
  </div>
</div>

<%- include("./partials/footer") %>
